@model IEnumerable<PJC.Models.DocGia>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
	<h1 class="mt-4">Danh sách độc giả</h1>
	<ol class="breadcrumb mb-4">
		<li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>
		<li class="breadcrumb-item active">Danh sách độc giả</li>
	</ol>
	<div class="card mb-12">
		<div class="card-header">
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<a class="btn btn-success" href="/DocGia/Create">Thêm mới độc giả</a>
				</div>
			</div>
		</div>

		<div class="card-body">
			<div class="row">
				@if (ViewBag.SuccessMsg != null)
				{
					<div id="msgAlert" class="alert alert-success" role="alert">
						@ViewBag.SuccessMsg
					</div>
				}
			</div>
			<div class="card mb-4">
				<div class="card-header"><i class="fas fa-table mr-1"></i>Độc giả</div>
				<div class="card-body">
					<div class="table-responsive" id="table">
						<table style="font-family:Arial" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>
										@Html.DisplayNameFor(model => model.MaDG)
									</th>
									<th>
										@Html.DisplayNameFor(model => model.TenDG)
									</th>
									<th>
										@Html.DisplayNameFor(model => model.SDT)
									</th>
									<th>
										@Html.DisplayNameFor(model => model.DiaChi)
									</th>
									<th>
										@Html.DisplayNameFor(model => model.GioiTinh)
									</th>
									<th>
										@Html.DisplayNameFor(model => model.MatSach)
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>
											<a href="~/DocGia/Detail/@item.MaDG">
												@Html.DisplayFor(modelItem => item.MaDG)
											</a>
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.TenDG)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.SDT)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.DiaChi)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.GioiTinh)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.MatSach)
										</td>
										<td>
											<div class="btn-group">
												<a href="@Url.Action("Edit", "DocGia", new {id=@item.MaDG})" class="btn btn-outline-success">Sửa</a>
												<button class="btn btn-outline-danger" data-id="@item.MaDG" onclick="xoaDocGia('@item.MaDG')">Xóa</button>
											</div>
										</td>
									</tr>
								}
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@section scripts{
	<script>
		setTimeout(function () {
			$('#msgAlert').fadeOut('slow');
		}, 2000);
		function xoaDocGia(MaDG) {
			if (MaDG) {
				showPopupConfirm('Xác nhận xóa', `Bạn chắc chắn muốn xóa độc giả có mã <strong>${MaDG}</strong>?`, 'Chắc chắn, tôi muốn xóa', 'Hủy', () => {
					fetch('/docgia/delete/' + MaDG, {
						method: 'delete',
						headers: {
							'Content-type': 'application/json; charset=UTF-8'
						},
					}).then(r => r.json())
						.then(res => {
							if (res.success) {
								showSuccessToast(res.msg)
									.then(() => {
										if (res.redirect_uri) {
											location.href = res.redirect_uri;
										}
									})
							}
							else {
								showErrorToast(res.msg)
							}
						})
						.catch(err => showErrorToast(err)
						);
				})
			}
		}
	</script>
}



