@model PJC.Models.PhieuTra

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h1 class="mt-4">Xóa phiếu trả</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Xóa phiếu trả</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="PhieuTra">Về danh sách</a>
        </div>

        <div>
            <h4>CTPM</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MaPM)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MaPM)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MaSach)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MaSach)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MaDG)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MaDG)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NgayHenTra)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NgayHenTra)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NgayTra)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NgayTra)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SoLuongMuon)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SoLuongMuon)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SoLuongTra)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SoLuongTra)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TrangThai)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TrangThai)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TienPhat)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TienPhat)
                </dd>
            </dl>
            <form asp-action="Delete">
                <input asp-for="MaPM" type="hidden" />
                <input type="submit" value="Xóa" class="btn btn-danger" />
            </form>
            <form asp-action="Index">
                <input asp-for="MaPM" type="hidden" />
                <input type="submit" value="Không đồng ý" class="btn btn-success" />
            </form>
        </div>

    </div>
</div>
        </div>
    </div><h1>Delete</h1>





